
@font-face
{
    font-family: 'Industry';
      src: url('font/industry_book.otf');
}


@font-face
{
    font-family: 'Industry-Bold';
     src: url('font/industry_bold.otf');
}

@font-face
{
    font-family: 'Industry-Medium';
    src: url('font/industry_medium.otf');
}

iframe{
    width:100%; height:200px;
    
}

a{
    color:black
}


transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);


.psmall{
    font-size: 12px;
}


.pterms{
    font-size: 12px;
    color: #2c2c2c;
}

.title{
    padding: 0px 8px;
    font-size: 20px;
    font-family: 'Industry-Bold';
}

.subheadDate{
    
    font-family: 'Industry-Medium';
    font-size: 16px;
    padding-right:8px;
    margin:0px;
    float:right;

}

.subheadAuthor{

    font-family: 'Industry-Medium';
    font-size: 16px;
    margin:0px;
    float:left;
     padding-left:8px;

}

figure{
    width:100%;
    margin:0px;
}

html{
    margin:0px;
    padding:0px;
    -webkit-text-size-adjust: 100%;
    font-size: 15px;
    background-color: transparent;
    
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Industry';
    background-color: transparent;
    color:#000000
}

body.lowquality * { filter: none !important; }

#divContainer{
    font-family: 'Industry';
    padding:0px;
    margin:0px;
    background: #fff;

}

h1, h2, h3, h4{
        font-family: 'Industry-Bold';
}

div{
    margin: 0px 0px;
}

p{
    margin: 0px 0px;
}



img{
    display: block;
    max-width: 98%;
    width:auto;
    height:auto;
    margin: 10px auto;
}

.imgFeatured {
    background:#857b75;
    min-height: 200px;
    width:100%;
}

.header{
    width:100%;
    margin:0px 0px 25px 0px;
}

.headerContent{
    width:100%;
    margin:0px 0px 30px 0px;
}



.authorHeader{
    margin: 0px 0px 0px 0px;
    left:8px;
    float:left;
    font-size:14px;
    width:50%;
      font-family: 'Industry-Medium';
    text-align:left;
}

.dateHeader{

    margin: 0px 0px 0px 0px;
    right:8px;
    float:right;
    font-size:14px;
    width:50%;
    text-align:right;
      font-family: 'Industry-Medium';
}

.readmore{
    font-family: 'Industry-Medium';
    color:#657136;
}

.divContent{
     padding:8px;
    margin: 8px 0px 0px 0px;
    float:left;
}